<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>Digitrans</title>

    
</head>
<body>
    <section id="title">  
        <div>
        <div id="navbar">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="">Digitrans</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="navbar-item">
                      <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="{{url_for('developer')}}">Developers</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="{{url_for('client')}}">Clients</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="">Blogs</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="">About Us</a>
                    </li>
                </ul>  
                </div>
            </nav>
        </div>
        </div>
    </section>
    <section id="fform">
        <h3>Client Sign Up</h3>
        {% block content %}
    {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
        {% for catogery,message in messages %}
        <div class="alert alert-{{category}}">
        <p style="text-align: center;">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% endblock %}
    </div>
        <form class="form-inline" action="{{ url_for('client')}}" method="post">
          {{ form.hidden_tag() }}
          <div class="form-group row">
            {{ form.name.label(class="col-sm-2 col-form-label formlabel") }}
            {% if form.name.errors %}
            <div class="col-sm-5 forminput">
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                </div>
            {% else %}
                <div class="col-sm-5 forminput">
                {{ form.name(class="form-control") }}
                </div>
            {% endif %}
          </div>
          
          <div class="form-group row">
            {{ form.email.label(class="col-sm-2 col-form-label formlabel") }}
            {% if form.email.errors %}
            <div class="col-sm-5 forminput">
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                </div>
            {% else %}
            <div class="col-sm-5 forminput">
              {{ form.email(class="form-control") }}
              {% endif %}
            </div>
          </div>
          
          <div class="form-group row">
            {{ form.username.label(class="col-sm-2 col-form-label formlabel") }}
            {% if form.username.errors %}
            <div class="col-sm-5 forminput">
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                </div>
            {% else %}
            <div class="col-sm-5 forminput">
              {{ form.username(class="form-control") }}
              {% endif %}
            </div>
          </div>
            
          <div class="form-group row">
            {{ form.phone_number.label(class="col-sm-2 col-form-label formlabel") }}
            {% if form.phone_number.errors %}
            <div class="col-sm-5 forminput">
                {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.phone_number.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                </div>
            {% else %}
            <div class="col-sm-5 forminput">
              {{ form.phone_number(class="form-control") }}
              {% endif %}
            </div>
          </div>
          
          <div class="form-group row">
            {{ form.password.label(class="col-sm-2 col-form-label formlabel") }}
            {% if form.password.errors %}
            <div class="col-sm-5 forminput">
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                </div>
            {% else %}
            <div class="col-sm-5 forminput">
              {{ form.password(class="form-control") }}
              {% endif %}
            </div>
          </div>
          
          <div class="form-group row">
            {{ form.confirm_password.label(class="col-sm-2 col-form-label formlabel") }}
            {% if form.confirm_password.errors %}
            <div class="col-sm-5 forminput">
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                </div>
            {% else %}
            <div class="col-sm-5 forminput">
              {{ form.confirm_password(class="form-control") }}
              {% endif %}
            </div>
            </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>  
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">Already Having An Account? <a class="ml-2" href="{{ url_for('login') }}">Login Now</a>
          </small>
        </div>
    </section>
    <footer id="footer">
      <a href="https://instagram.com/digitrans_services?igshid=YmMyMTA2M2Y="><i class="footer-icon fa-brands fa-instagram" ></i></a>
      <a href="https://www.linkedin.com/company/digitrans-services/"><i class="footer-icon fa-brands fa-linkedin"></i></a>
      <a href="Digitransservices@gmail.com"><i class="footer-icon fa-solid fa-envelope"></i></a>
      
      
      <p>© Copyright Digitrans</p>
  
    </footer>
  
</body>
</html>